.header
     {
        font-family: "Press Start 2P", system-ui;
        font-weight: 200;
        font-style: normal;
      }

body{
    min-height: 100vh;
}
#ftr{
    position: sticky;
    top: 100%;
}
